body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.color-container{
    border: 1px solid #000000;
    width: 100%;
}

#form {
    display: flex;
    align-items: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin: 1em;
    width: 550px;
    margin: 2em auto;
    padding: 1em 0.5em;
    width: 90%;
}

#form select{
    width: 312px;
}

#form button{
    width: 123px;
}

#form input{
    width: 61px;
    height: 42px;
}

