body{
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 550px;
    background-color:  #1C1C1C;
}

.color-container{
    width: 100%;
    height: 90px;
    margin:  3em auto -2em auto;

}

#form {
    display: flex;
    align-items: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 0.5em;
}

#form select{
    width: 312px;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 0em 1em;
}

#form button{
    width: 123px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 10px;
}

#form input{
    width: 61px;
    height: 42px;
    border-radius: 10px;
}

#color-scheme{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.color-code{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0;
    height: 46px;
}

.color-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 110px;
    height: 550px;
}

.color-box img{
    height: 90%;
    
}



